VisualElement > #LabelControl {
    flex-direction: row;
    margin-top: 2;
    margin-bottom: 2;
}

.unity-base-field {
    flex-grow: 1;
    margin-top: 0;
    margin-bottom: 0;
}

.unity-base-field__input {
    margin-left: 0;
    margin-right: 0;
}

.unity-label{
    overflow:hidden;
}
