VisualElement > #SliderControl {
    width: 128;
    flex-direction: row;
    flex-grow: 1;
}

.unity-base-field__input{
    width: 40;
    text-alignment: middle-left;
}

.unity-slider {
    width: 60;
    margin-right: 8;
    flex-direction: row;
    flex-grow: 1;
    overflow:visible;
}
