CubemapSlotControlView {
    flex-direction: row;
    align-items: center;
}

.unity-field {
    width: 100;
}

.unity-object-field__input {
     margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

